body {
    background-color: linen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0000c0;
}


a:visited {color: #0000c0}

header {
    text-align: center;
    width:725px;
    margin-left: auto;
    margin-right: auto;
}

#mainlogo {
    text-decoration: none;
    font-size: 45pt;
    font-weight: bold; 
}

#catchphrase {
    margin-top: 3pt;
}

.topnav {
    list-style-type:none;
    margin-bottom: 2px;
    text-align: center;
}

.topnav li{
    display:inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 25px;
}

.topnav a{
    color: #0000c0;
    text-decoration: none;
}

@media (max-width: 600px)